<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.lao- la-th</string>
	<key>CFBundleName</key>
	<string>Lao - LA-TH</string>
	<key>CFBundleVersion</key>
	<string>2.1</string>
	<key>KLInfo_Lao - LA-TH</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.lao- la-th.lao- la-th</string>
		<key>TISIntendedLanguage</key>
		<string>lo-Laoo-LA</string>
	</dict>
</dict>
</plist>
